@using TopNews.Core.DTOS.Post;
@model PostDTO

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            @if (Model.ImagePath == "Default.png")
            {
                <img class="img-fluid" src="~/images/posts/Default.png" alt="Photo">
            }
            else
            {
                <img class="img-fluid" src="~/images/posts/@Model.ImagePath" alt="Photo">
            }
        </div>
        <div class="col-md-6 text-break">
                    <h1>@Model.Title</h1>
                    <p>Publish Date : @Model.PublishDate</p>
                    <p>Category : @Model.CategoryName</p>
                    <p class="mb-0">@Html.Raw(Model.Description)</p>
                    <p></p>
                    <p class="mb-0">@Html.Raw(Model.FullText)</p>
                </div>
    </div>
</div>